*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #614385;  /* fallback for old browsers */
    background: -webkit-linear-gradient(120deg, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(100deg, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    color: white;
}

header {
    font-size: 1.5rem;

    
    	
    text-shadow: 2px 4px 3px rgba(0,0,0,0.4);

}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    border-radius: 4px 0px 0px 4px;

    box-shadow: 0 0 5px rgba(0,0,0,.09), 2px 2px 5px rgba(0,0,0,.3);
}

form button {
    border-radius: 0px 4px 4px 0px;
    border-left: none;
}

form button {
    color: #516395;
    background: white;
    cursor: pointer;
    transition: all 0.1s ease;
}

form button:active{
    background-color: #516395;
    color: white;
    border-radius: 4px;
    transform: translateY(1px) translateX(3px);
}


.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

@keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.1, 0.1);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    box-shadow: 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.3);

    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-duration: 0.2s;
    
    transition: all .5s ease;
    
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: white;
    color: rgb(147, 51, 51);
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    transition: all 0.2s ease;
}

.complete-btn {
    background-color: white;
    color: rgb(51, 139, 147);

}


@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(2px) }
    50% { transform: translateX(-2px) }
    75% { transform: translateX(2px) }
    100% { transform: translateX(0) }
   }


.trash-btn{
    border-radius: 0px 8px 8px 0px;

}

.fa-trash, .fa-check {
    pointer-events: none;
}

.todo-item {
    padding: .8rem .8rem;
}

.completed {
    text-decoration: line-through;
    opacity: 0.4; 
}

.fall {
    transform: rotateZ(10deg) scale(.1);
    opacity: 0;
    transition: all .7s ease;
}

.complete-glow {
    box-shadow: 1px 1px 10px 5px rgba(255,255,255,.3);
    transition: all .5s ease;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: black;
    width: 10rem;
    cursor: pointer;
    border-radius: 4px;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: linear-gradient(300deg, #516395, #614385);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}

.select:hover::after {
    background: white;
    color: #614385;

}